@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}